body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.main-menu {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.main-button {
    color: darkcyan;
    text-decoration: none;
    margin: 20px;
}
.picture {
    margin: 0;
    padding: 0;
    width: 100%;
}
.article {
    font-size: 12px;
    color: #18181F;
    font-stretch: extra-expanded;
    background-color: #F7F7F7;
    padding: 15px 0 40px;
    margin: 0;
}
.article-title {
    text-transform: uppercase;
    font-size: 16px;
}
.start {
    color: white;
    background-color: darkcyan;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
}
.footer {
    text-align: right;
}